@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Como podemos melhor atende-lo hoje?</p>
</div>

<div class="text-center">
    <p>TESTE</p>
</div>
